* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

main {
    margin-bottom: 135px;
    margin-top: 115px;
}

header {
    background: gray;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    left: 0;
    min-width: 960px;
    padding: 15px;
    position: fixed;
    right: 0;
    top: 0;
}

.logo {
    align-self: flex-start;
    height: 70px;
    width: 200px;
}

nav {
    align-self: center;
    color: lightgrey;
    justify-content: space-evenly;
    padding: 15px;
    width: 760px;
}

nav a {
    justify-content: space-between;
    padding: 2rem;
    text-align: center;
}

#first {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero {
    min-height: 70px;
    min-width: 200px;
    padding: 15px;
}

#second {
    display: flex;
    flex-basis: 300px;
    flex-direction: row;
    justify-content: center;
}

.sub-banner {
    justify-content: space-evenly;
    min-height: 375px;
    min-width: 300px;
    padding: 15px;
}

#third {
    display: flex;
    flex-basis: 480px;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}

.featured {
    height: 400px;
    width: 480px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-left: 30px;
    width: 450px;
}

button {
    align-items: flex-end;
    align-self: flex-start;
    background-color: black;
    color: white;
    float: left;
    height: 40px;
    width: 120px;
}

#text {
    overflow: scroll;
}

footer {
    background: gray;
    bottom: 0;
    height: 120px;
    left: 0;
    position: fixed;
    right: 0;
}